<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pinterest</title>
</head>
<body>
    <h1>Create pins</h1>
    <a href="{{ path('app_home') }}">back</a>
    {{  form_start(form) }}

        {{  form_widget(form) }}
        <input type="submit" value="Create Pin">

    {{  form_end(form) }}

</body>
</html>