<!doctype html>
<html>
<head>
    <title>{{ pin.title }}</title>
</head>
<body>
<article>
    <h1>{{ pin.title }}</h1>
    <p>{{ pin.description }}</p>
</article>

    <p><a href="{{ path('app_home') }}">back</a></p>
</body>
</html>

