<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now' |date('Y') }} &middot;
            Built with <span class="text-danger">&hearts;</span> by <a href="https://ta.azureedge.net/p/images/usuarios/l/C1WJrfRT10hntEHEPFCfSqbRDv5cHLWH0.jpg/600x600cut/">Amine Semlali</a>
        </small>
    </p>
</footer>